.wrapper {
    display: flex;
    font-size: 1.6rem;
    line-height: 1.5;
    border-radius: 6px;
    border: 1px solid transparent;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.primary {
    height: 40px;
    padding: 8px 30px;
    background-color: var(--primary-color);
    color: var(--white);

    &:hover {
        background-color: #c62e46;
    }
}

.outline {
    height: 32px;
    padding: 0 7px;
    font-size: 1.3rem;
    font-weight: 400;
    background-color: transparent;
    color: var(--text-color);

    &:hover {
        background-color: #ececee;
    }

    .icon {
        font-size: 1rem;
    }
}

.underline {
    height: 100%;
    padding: 0 15px;
    font-size: 1.2rem;
    color: #484848;
    background-color: transparent;
    border-radius: 0;
    font-weight: 600;
    &:hover {
        border-bottom: 2px solid #523ee8;
    }
}

.normal {
    height: 100%;
    width: 100%;
    padding: 5px 2px;
    font-size: 1.6rem;
    color: #484848;
    background-color: transparent;
    border-radius: 0;

    &:hover {
        background-color: #ececee;
    }
}

.highlight {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    padding: 8px 0;
    color: #484848;
    background-color: transparent;
    border-radius: 0;
    border: 0;

    span {
        margin: 0;
    }

    &:hover {
        color: var(--primary-color);
    }
}

.title {
    margin-left: 5px;
}
